/*
 * Main stylesheets, layouting etc.
 */

body {
}

div.header-container {
	margin-top: 1em;
}

div.main-container {
	margin-top: 1em;
}

div.main-container .card .card-header {
	background-color: #aaffbb;
}

.btn {
	margin-bottom: 1em;
}

canvas#game-canvas {
	border: 1px solid black;
}
